<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thewizardbeards.getcultured"
    android:versionCode="2"
    android:versionName="1.1">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gclogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.thewizardbeards.getcultured.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.thewizardbeards.getcultured.DropActivity"
            android:label="@string/title_activity_drop"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.thewizardbeards.getcultured.DescriptionActivity"
            android:label="@string/title_activity_description"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.thewizardbeards.getcultured.DescriptiononeActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.thewizardbeards.getcultured.LinkActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.thewizardbeards.getcultured.DropdownActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
